﻿@model Recreators_API_Microservice.Models.Cart

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User_Metrics.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Metrics.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item_Added_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item_Added_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cart_Close_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cart_Close_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cart_Close_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cart_Close_Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
