﻿@model IEnumerable<Recreators_API_Microservice.Models.Cart>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User_Metrics.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item_Added_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cart_Close_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cart_Close_Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User_Metrics.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item_Added_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cart_Close_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cart_Close_Type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
