﻿@model Recreators_API_Microservice.Models.Adoption

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Adoption</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Animal.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Metrics.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Metrics.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adoption_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adoption_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adoption_Complete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adoption_Complete)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Adoption_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
