﻿@model IEnumerable<Recreators_API_Microservice.Models.Adoption>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Animal.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Metrics.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adoption_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adoption_Complete)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Animal.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Metrics.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adoption_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adoption_Complete)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Adoption_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Adoption_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Adoption_ID })
        </td>
    </tr>
}

</table>
